:host {
    display: inline-block;
    background: color-mix(in srgb, transparent, 10% currentColor);
    border-radius: 9px;
    position: relative;
    * { transition: .2s; }
}

#label {
    display: block;
    position: absolute;
    top: 0.25rem; left: 0.5rem;
    transform: translateY(0);
    pointer-events: none;
    font-size: 0.8rem;
}

#placeholder {
    position: absolute;
    transform: translateY(-100%);
    pointer-events: none;
    opacity: 0;
    /* same padding as #value */
    padding: 1.5rem 1rem 0.75rem;
}

#value {
    all: unset;
    display: block;
    /* adding the padding here let's us click on the label as well */
    padding: 1.5rem 1rem 0.75rem;
    &:empty {
        & ~ #placeholder { opacity: 0.5; }
        & ~ #placeholder:empty ~ #label {
            top: 1.5rem; left: 1rem;
            font-size: 1rem;
            opacity: .5;
        }
    }
}

:host[data-label="none"], :host:has(#label:empty) {
    #value { padding-top: 0.75rem; }
    #label { display: none; }
}



